n8n/workflow.json
{
  "name": "Análisis de tendencias en el mercado laboral",
  "nodes": [
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        800,
        128
      ],
      "id": "30b59ba8-40a3-4457-bb0c-f4a4d27fcfc6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3SGNfqElFVgHBDxM",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-user-request",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -336,
        -304
      ],
      "id": "9566640e-131d-431c-b8a2-f9a4b331c85c",
      "name": "Webhook",
      "webhookId": "c9467382-0f12-487a-be58-f17993d28282"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={CONFIGURACIÓN DEL SISTEMA - WorkNav AI}\n\nEres WorkNav AI, un agente especializado en análisis de tendencias del mercado laboral español.\n\n{CONTEXTO DEL USUARIO}\nUsuario: {{ $('Webhook').first().json.body.userName }}\nUser ID: {{ $('Webhook').first().json.body.userId }}\nTipo de consulta: {{ $('Webhook').first().json.body.request_type }}\n\n{HISTORIAL DE CONVERSACIÓN}\n{{ $json.historial_formateado }}\n\n{INSTRUCCIONES CON CONTEXTO}\n{{ $('Code1').first().json.tiene_historial ? \n   \"IMPORTANTE: El usuario tiene historial previo. Haz referencias naturales a conversaciones anteriores cuando sea relevante y mantengan coherencia contextual.\" : \n   \"NOTA: Esta es la primera conversación del usuario. Ofrece una introducción amigable a WorkNav AI.\" }}\n\n{INSTRUCCIONES CRÍTICAS - DETECCIÓN AUTOMÁTICA}\n\n**REQUEST_TYPE DETECTADO: {{ $('Webhook').first().json.body.request_type }}**\n\n**SI request_type ES \"graph\":**\nOBLIGATORIO: Debes generar datos de salarios ESPECÍFICOS para el sector que consulta el usuario.\n\nPASOS OBLIGATORIOS:\n1. IDENTIFICA el sector específico de la consulta del usuario (tecnología, salud, educación, finanzas, etc.)\n2. CONSULTA las herramientas de Google Sheets disponibles para obtener datos reales de ese sector\n3. GENERA rangos salariales apropiados para el sector específico consultado\n4. INCLUYE habilidades relevantes para el sector (NO uses siempre las de tecnología)\n5. PERSONALIZA todos los datos según el sector detectado\n\nSECTORES A PERSONALIZAR CORRECTAMENTE:\n- **Salud**: Habilidades como \"Especialización Clínica\", \"Gestión Hospitalaria\", \"Cirugía\", \"Medicina Familiar\"\n- **Educación**: Habilidades como \"Pedagogía Digital\", \"Gestión Educativa\", \"Investigación Pedagógica\" \n- **Tecnología**: Habilidades como \"React/Angular\", \"Machine Learning\", \"DevOps\", \"Python\"\n- **Finanzas**: Habilidades como \"Análisis Financiero\", \"Gestión de Riesgos\", \"Contabilidad\"\n- **Marketing**: Habilidades como \"Marketing Digital\", \"SEO/SEM\", \"Analytics\", \"Redes Sociales\"\n\nIMPORTANTE: NO uses plantillas fijas. SIEMPRE personaliza según el sector consultado.\n\nRESPONDER ÚNICAMENTE con JSON válido (sin texto adicional):\n\n{\n  \"response_type\": \"salary_data\",\n  \"sector\": \"[DETECTAR Y ESCRIBIR EL SECTOR ESPECÍFICO DEL USUARIO]\",\n  \"data\": {\n    \"salario_promedio\": {\n      \"junior\": {\n        \"min\": [GENERAR_RANGO_APROPIADO_PARA_SECTOR],\n        \"max\": [GENERAR_RANGO_APROPIADO_PARA_SECTOR], \n        \"promedio\": [CALCULAR_PROMEDIO_REALISTA],\n        \"moneda\": \"EUR\"\n      },\n      \"mid\": {\n        \"min\": [GENERAR_RANGO_APROPIADO_PARA_SECTOR],\n        \"max\": [GENERAR_RANGO_APROPIADO_PARA_SECTOR],\n        \"promedio\": [CALCULAR_PROMEDIO_REALISTA],\n        \"moneda\": \"EUR\"\n      },\n      \"senior\": {\n        \"min\": [GENERAR_RANGO_APROPIADO_PARA_SECTOR],\n        \"max\": [GENERAR_RANGO_APROPIADO_PARA_SECTOR],\n        \"promedio\": [CALCULAR_PROMEDIO_REALISTA],\n        \"moneda\": \"EUR\"\n      }\n    },\n    \"tendencia_salarial\": {\n      \"variacion_anual\": \"[GENERAR_VARIACION_REALISTA_PARA_SECTOR]\",\n      \"direccion\": \"[ascendente/descendente/estable según sector]\",\n      \"factores_influencia\": [\n        \"[FACTOR_1_ESPECÍFICO_DEL_SECTOR]\",\n        \"[FACTOR_2_ESPECÍFICO_DEL_SECTOR]\", \n        \"[FACTOR_3_ESPECÍFICO_DEL_SECTOR]\"\n      ]\n    },\n    \"datos_por_region\": [\n      {\n        \"region\": \"Madrid\",\n        \"salario_promedio\": [GENERAR_SALARIO_APROPIADO_MADRID_PARA_SECTOR],\n        \"variacion_nacional\": \"[CALCULAR_VARIACION]\"\n      },\n      {\n        \"region\": \"Barcelona\", \n        \"salario_promedio\": [GENERAR_SALARIO_APROPIADO_BARCELONA_PARA_SECTOR],\n        \"variacion_nacional\": \"[CALCULAR_VARIACION]\"\n      },\n      {\n        \"region\": \"Valencia\",\n        \"salario_promedio\": [GENERAR_SALARIO_APROPIADO_VALENCIA_PARA_SECTOR],\n        \"variacion_nacional\": \"[CALCULAR_VARIACION]\"\n      },\n      {\n        \"region\": \"Sevilla\",\n        \"salario_promedio\": [GENERAR_SALARIO_APROPIADO_SEVILLA_PARA_SECTOR],\n        \"variacion_nacional\": \"[CALCULAR_VARIACION]\"\n      },\n      {\n        \"region\": \"Bilbao\",\n        \"salario_promedio\": [GENERAR_SALARIO_APROPIADO_BILBAO_PARA_SECTOR],\n        \"variacion_nacional\": \"[CALCULAR_VARIACION]\"\n      }\n    ],\n    \"habilidades_mejor_pagadas\": [\n      {\n        \"habilidad\": \"[HABILIDAD_1_ESPECÍFICA_DEL_SECTOR_CONSULTADO]\",\n        \"incremento_salarial\": \"[GENERAR_INCREMENTO_REALISTA]\"\n      },\n      {\n        \"habilidad\": \"[HABILIDAD_2_ESPECÍFICA_DEL_SECTOR_CONSULTADO]\",\n        \"incremento_salarial\": \"[GENERAR_INCREMENTO_REALISTA]\"\n      },\n      {\n        \"habilidad\": \"[HABILIDAD_3_ESPECÍFICA_DEL_SECTOR_CONSULTADO]\",\n        \"incremento_salarial\": \"[GENERAR_INCREMENTO_REALISTA]\"\n      },\n      {\n        \"habilidad\": \"[HABILIDAD_4_ESPECÍFICA_DEL_SECTOR_CONSULTADO]\",\n        \"incremento_salarial\": \"[GENERAR_INCREMENTO_REALISTA]\"\n      },\n      {\n        \"habilidad\": \"[HABILIDAD_5_ESPECÍFICA_DEL_SECTOR_CONSULTADO]\",\n        \"incremento_salarial\": \"[GENERAR_INCREMENTO_REALISTA]\"\n      }\n    ]\n  },\n  \"contexto_conversacion\": \"{{ $('Code1').first().json.tiene_historial ? 'Datos relacionados con consultas anteriores del usuario' : 'Primera consulta de datos salariales' }}\",\n  \"fecha_actualizacion\": \"2024-12-01\",\n  \"fuentes_utilizadas\": [\n    \"https://www.ine.es/dyngs/INEbase/es/operacion.htm?c=Estadistica_C&cid=1254736176918&menu=ultiDatos&idp=1254735976595\",\n    \"https://www.sepe.es/HomeSepe/que-es-el-sepe/observatorio-de-las-ocupaciones\",\n    \"https://www.mites.gob.es/estadisticas/mercado_trabajo/default.htm\"\n  ]\n}\n\n**SI request_type ES \"sources\":**\n- PROPORCIONAR fuentes oficiales y confiables\n- INCLUIR referencias específicas si hay temas recurrentes en el historial\n- RESPONDER ÚNICAMENTE con JSON válido\n\n{\n  \"response_type\": \"sources_info\",\n  \"contexto_usuario\": \"{{ $('Code1').first().json.tiene_historial ? 'Usuario con historial de consultas previas' : 'Primera consulta del usuario' }}\",\n  \"fuentes_utilizadas\": [\n    \"Instituto Nacional de Estadística (INE) - https://www.ine.es/dyngs/INEbase/es/operacion.htm?c=Estadistica_C&cid=1254736176918&menu=ultiDatos&idp=1254735976595\",\n    \"Ministerio de Trabajo y Economía Social - https://www.mites.gob.es/estadisticas/mercado_trabajo/default.htm\",\n    \"SEPE - Servicio Público de Empleo Estatal - https://www.sepe.es/HomeSepe/que-es-el-sepe/observatorio-de-las-ocupaciones\",\n    \"Observatorio de las Ocupaciones del SEPE - https://www.sepe.es/HomeSepe/que-es-el-sepe/observatorio-de-las-ocupaciones/datos-estadisticos.html\",\n    \"Portal Único de Empleo - https://www.empleate.gob.es/empleo/\",\n    \"Fundación Estatal para la Formación en el Empleo (FUNDAE) - https://www.fundae.es/observatorio/\",\n    \"CIS - Centro de Investigaciones Sociológicas - https://www.cis.es/cis/opencms/ES/index.html\",\n    \"CCOO - Comisiones Obreras Estudios - https://www.ccoo.es/\",\n    \"UGT - Unión General de Trabajadores - https://www.ugt.es/\",\n    \"CEOE - Confederación Española de Organizaciones Empresariales - https://www.ceoe.es/\"\n  ],\n  \"descripcion\": \"Fuentes oficiales del gobierno español, organismos públicos especializados en análisis del mercado laboral, estadísticas de empleo y principales organizaciones sindicales y empresariales.\"\n}\n\n**SI request_type ES \"chat\" O NO ESPECIFICADO:**\nIMPORTANTE: Responde ÚNICAMENTE en texto natural conversacional, NO en formato JSON.\n\nFORMATO DE RESPUESTA:\n- Texto directo y profesional\n- SIN estructura JSON\n- SIN campos como \"response_type\", \"data\", etc.\n- Respuesta en párrafos naturales\n\nESTRUCTURA DEL MENSAJE:\n1. **Saludo contextual** (si es nueva conversación) o **referencia al historial** (si hay conversaciones previas)\n2. **Respuesta directa** a la pregunta actual  \n3. **Análisis de contexto** del mercado actual relacionado con el tema\n4. **Tendencias relevantes** y proyecciones específicas\n5. **Recomendaciones prácticas** basadas en el perfil del usuario\n6. **Conexión con temas anteriores** (si aplica según historial)\n7. **Fuentes consultadas** al final\n\nEJEMPLO DE FORMATO CORRECTO:\nHola {{ $('Webhook').first().json.body.userName }}, según los datos más recientes del mercado laboral español...\n\n[Continuar con análisis detallado en texto natural]\n\nFuentes consultadas: INE, SEPE, Ministerio de Trabajo y Economía Social.\n\n{MENSAJE ACTUAL DEL USUARIO}\n{{ $('Webhook').first().json.body.message }}\n\n{INSTRUCCIÓN FINAL}\nAnaliza el mensaje \"{{ $('Webhook').first().json.body.message }}\" y responde según el request_type detectado:\n\n- **graph** → JSON con datos de salarios personalizados por sector\n- **sources** → JSON con fuentes oficiales  \n- **chat** → Texto natural conversacional (SIN JSON)\n\n**CRÍTICO: Para chat, nunca uses formato JSON. Solo texto natural.**",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1392,
        -16
      ],
      "id": "485ceb95-c24b-4575-b622-cee0062ee4d0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "=user_queries",
          "mode": "name"
        },
        "limit": 10,
        "where": {
          "values": [
            {
              "column": "=user_id",
              "value": "={{ $('Webhook').first().json.body.userId }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "created_at",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        720,
        -336
      ],
      "id": "81aa7d35-bcb9-45cd-827c-4dc3edc8d7fd",
      "name": "MySQL",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "euTpdKsJx1kriEd7",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "user_queries",
          "mode": "name"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "=user_id",
              "value": "={{ $('Webhook').first().json.body.userId }}"
            },
            {
              "column": "query_text",
              "value": "={{ $('Webhook').first().json.body.message }}"
            },
            {
              "column": "query_type",
              "value": "={{ $('Webhook').first().json.body.request_type }}"
            },
            {
              "column": "response_text",
              "value": "={{ $('AI Agent').first().json.output }}"
            },
            {
              "column": "response_data",
              "value": "={{ $('Webhook').first().json.body.request_type === 'graph' ? $('AI Agent').first().json.output : null }}"
            },
            {
              "column": "sources",
              "value": "={{ $('Webhook').first().json.body.request_type === 'sources' ? $('AI Agent').first().json.output : null }}"
            },
            {
              "column": "created_at",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "column": "updated_at",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1920,
        -288
      ],
      "id": "f5eb8720-ef8e-4422-911b-630931c6383e",
      "name": "MySQL1",
      "credentials": {
        "mySql": {
          "id": "euTpdKsJx1kriEd7",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef6d2002-7ef8-4d01-98d5-28ee190a1442",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "5d46f964-a7ce-49d2-b758-f71ea9f2c416",
              "name": "response_type",
              "value": "={{ $json.response_type }}",
              "type": "string"
            },
            {
              "id": "8416e26a-d242-4772-87a9-7e185bfe0860",
              "name": "message",
              "value": "={{ $json.message }}",
              "type": "string"
            },
            {
              "id": "d8c389c5-2f0b-49dd-a603-0cd2921c7644",
              "name": "sources",
              "value": "={{ $json.sources }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2320,
        144
      ],
      "id": "0562e45a-6c43-4253-a508-6627f876a4c7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $('Code3').first().json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        3024,
        64
      ],
      "id": "889fecae-3302-48cc-94c3-8788b769233f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1152,
        144
      ],
      "id": "04a4644e-1351-41c5-8c08-61e60e690105",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oBodgJefKt6b8EvJ",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1038117911,
          "mode": "list",
          "cachedResultName": "Índice ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=1038117911"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        2752,
        784
      ],
      "id": "2f804caf-6012-4907-b9d2-a896c15af0db",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Uw7Mfx2R9sCVcmBG",
          "mode": "list",
          "cachedResultUrl": "/workflow/Uw7Mfx2R9sCVcmBG",
          "cachedResultName": "scraping google"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        304,
        544
      ],
      "id": "517391af-b9f2-4803-b6dc-7681f26473c9",
      "name": "Call n8n Workflow Tool"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2118204291,
          "mode": "list",
          "cachedResultName": "PTE-1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=2118204291"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        2752,
        928
      ],
      "id": "44ff1e02-e960-40e5-980b-9b833bf66616",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 499469921,
          "mode": "list",
          "cachedResultName": "PTE-4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=499469921"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        2752,
        1392
      ],
      "id": "0ebf84c0-b2b2-476b-8f1d-576e17f4994e",
      "name": "Google Sheets4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 44226644,
          "mode": "list",
          "cachedResultName": "PTE-3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=44226644"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        2752,
        1232
      ],
      "id": "2f241efa-438f-4d79-96c9-fd534c1da7cd",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2069546266,
          "mode": "list",
          "cachedResultName": "PTE-2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=2069546266"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        2752,
        1072
      ],
      "id": "bd75dbad-2943-40aa-bb7f-712288718cd5",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1700560601,
          "mode": "list",
          "cachedResultName": "Anexo I",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=1700560601"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        3552,
        784
      ],
      "id": "cd85657a-856f-438a-83bf-acfdafea3145",
      "name": "Google Sheets30",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1081863833,
          "mode": "list",
          "cachedResultName": "PTE-25",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=1081863833"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        3424,
        784
      ],
      "id": "e68e7070-8965-480a-80f3-d7323bc41429",
      "name": "Google Sheets25",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 316363428,
          "mode": "list",
          "cachedResultName": "PTE-20",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=316363428"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        3312,
        784
      ],
      "id": "fcde8ba5-56f1-4e07-9fac-b75f8fcbb85a",
      "name": "Google Sheets20",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 824412113,
          "mode": "list",
          "cachedResultName": "PTE-15",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=824412113"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        3168,
        784
      ],
      "id": "d3b45664-0589-404c-a705-f2d51155a605",
      "name": "Google Sheets15",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 575156226,
          "mode": "list",
          "cachedResultName": "Anexo II",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=575156226"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        3552,
        944
      ],
      "id": "0dc98bf9-08e5-42fb-9574-108f48a3182b",
      "name": "Google Sheets31",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 783101185,
          "mode": "list",
          "cachedResultName": "PTE-10",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=783101185"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        3024,
        784
      ],
      "id": "4b905c62-d74e-4669-90f0-3f60e1301ce0",
      "name": "Google Sheets10",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1938303750,
          "mode": "list",
          "cachedResultName": "Fuentes y notas explicativas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=1938303750"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        3424,
        1392
      ],
      "id": "b9a22338-4992-4883-89f5-2df608386d97",
      "name": "Google Sheets29",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 249480683,
          "mode": "list",
          "cachedResultName": "PTE-5",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=249480683"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        2880,
        784
      ],
      "id": "8e2beb24-35b5-4463-adca-3b74d9d7df8f",
      "name": "Google Sheets5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2124585351,
          "mode": "list",
          "cachedResultName": "PTE-28",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=2124585351"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        3424,
        1232
      ],
      "id": "1ac56c8e-f914-495e-8f0f-313b4e20eee6",
      "name": "Google Sheets28",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 760947469,
          "mode": "list",
          "cachedResultName": "PTE-27",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=760947469"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        3424,
        1088
      ],
      "id": "68ad6040-9969-453c-aa4f-a1869f9ab91d",
      "name": "Google Sheets27",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 915610868,
          "mode": "list",
          "cachedResultName": "PTE-26",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=915610868"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        3424,
        944
      ],
      "id": "8a691ac8-ebd9-4db1-9588-b09263ca191f",
      "name": "Google Sheets26",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 871855928,
          "mode": "list",
          "cachedResultName": "PTE-24",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=871855928"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        3312,
        1392
      ],
      "id": "fb635bf5-46aa-4491-a750-fd1d99b8de45",
      "name": "Google Sheets24",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1812579843,
          "mode": "list",
          "cachedResultName": "PTE-23",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=1812579843"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        3312,
        1232
      ],
      "id": "3398c962-be1a-4212-885d-a43998e5f8ac",
      "name": "Google Sheets23",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 437237323,
          "mode": "list",
          "cachedResultName": "PTE-22",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=437237323"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        3312,
        1088
      ],
      "id": "da9f95b4-6f37-4f38-8582-dea11b2059b7",
      "name": "Google Sheets22",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 227017505,
          "mode": "list",
          "cachedResultName": "PTE-21",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=227017505"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        3312,
        944
      ],
      "id": "6516e216-baa6-4466-8f80-86600bf2e7f0",
      "name": "Google Sheets21",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1577753224,
          "mode": "list",
          "cachedResultName": "PTE-19",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=1577753224"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        3168,
        1392
      ],
      "id": "19b52c26-6157-4e5a-9afa-666346a39125",
      "name": "Google Sheets19",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 623584078,
          "mode": "list",
          "cachedResultName": "PTE-18",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=623584078"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        3168,
        1232
      ],
      "id": "eae09f44-a372-45bc-a1fa-1de3315c06e2",
      "name": "Google Sheets18",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1137760591,
          "mode": "list",
          "cachedResultName": "PTE-17",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=1137760591"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        3168,
        1088
      ],
      "id": "a91ca1d8-b83e-4a7b-89d6-6040b287229a",
      "name": "Google Sheets17",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2036667322,
          "mode": "list",
          "cachedResultName": "PTE-16",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=2036667322"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        3168,
        944
      ],
      "id": "6e65721d-76d8-4f75-b630-822a5fdc04a3",
      "name": "Google Sheets16",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1814351662,
          "mode": "list",
          "cachedResultName": "PTE-14",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=1814351662"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        3024,
        1392
      ],
      "id": "81aff7d2-50e7-4eef-9482-322930329bb4",
      "name": "Google Sheets14",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2128952302,
          "mode": "list",
          "cachedResultName": "PTE-13",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=2128952302"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        3024,
        1232
      ],
      "id": "dcc66640-fcb7-4c0c-ad28-f49f31d184ee",
      "name": "Google Sheets13",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1899838026,
          "mode": "list",
          "cachedResultName": "PTE-12",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=1899838026"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        3024,
        1088
      ],
      "id": "07c4d79d-886a-49f4-8439-b3dd156c1a23",
      "name": "Google Sheets12",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 914570712,
          "mode": "list",
          "cachedResultName": "PTE-11",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=914570712"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        3024,
        944
      ],
      "id": "e9cf199d-c771-4eab-835d-1c44d23001c8",
      "name": "Google Sheets11",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1165690602,
          "mode": "list",
          "cachedResultName": "PTE-9",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=1165690602"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        2880,
        1392
      ],
      "id": "3860338f-edac-4790-8a25-a2cc5a32858a",
      "name": "Google Sheets9",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1316915101,
          "mode": "list",
          "cachedResultName": "PTE-8",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=1316915101"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        2880,
        1232
      ],
      "id": "9b2d5d87-f4a6-4edd-8331-f42428104039",
      "name": "Google Sheets8",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=2118204291#gid=2118204291",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 873725973,
          "mode": "list",
          "cachedResultName": "PTE-7",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=873725973"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        2880,
        1088
      ],
      "id": "ac8a0ff1-f0a4-40fc-9c11-d2ce43eab2c6",
      "name": "Google Sheets7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit?gid=1038117911#gid=1038117911",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1994478635,
          "mode": "list",
          "cachedResultName": "PTE-6",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeoMTl29kw-OBN9-Zp1Q5cevYnI1X5DpsOold1X9Oes/edit#gid=1994478635"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        2880,
        928
      ],
      "id": "0631a537-6797-4dfb-9406-fda9528e816e",
      "name": "Google Sheets6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Datos del ministerio de trabajo del 2023 \n",
        "height": 840,
        "width": 1300
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2464,
        704
      ],
      "typeVersion": 1,
      "id": "f354546e-0510-4882-b492-71541e659cce",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1CjzbcxJUFNQ-N4TINzV9dpgHmY_IS3rT-NAbuNnjGL8/edit?hl=es&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CjzbcxJUFNQ-N4TINzV9dpgHmY_IS3rT-NAbuNnjGL8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        624,
        1280
      ],
      "id": "ef83e125-1787-4959-aefd-c18afda0b5cd",
      "name": "Tasa por paro",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1RIIREbxU3K1ZcpdgPBU-9n-fLn_u3zqUHJZ2MV-77EU/edit?hl=es&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RIIREbxU3K1ZcpdgPBU-9n-fLn_u3zqUHJZ2MV-77EU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        624,
        1152
      ],
      "id": "e04c7372-92ff-49dc-92ae-a0fd24b5275c",
      "name": "Tasa por actividad",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1u1KzMHZ4lquxaz73ifVoVuHMzzMJw4Da-Zt2rOR37rA/edit?hl=es&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1u1KzMHZ4lquxaz73ifVoVuHMzzMJw4Da-Zt2rOR37rA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        624,
        1008
      ],
      "id": "196b5fba-80d8-4350-b78a-77d3d18aba91",
      "name": "tasa de ocupados",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/15pcgDw8e75XhIOY1ZngitGTF9OMtmT_cFoN3aQvTyG8/edit?hl=es&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15pcgDw8e75XhIOY1ZngitGTF9OMtmT_cFoN3aQvTyG8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        624,
        848
      ],
      "id": "e978f281-e6db-4318-9963-a958dbcfee2b",
      "name": "tasa de empleo por discapacidad",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/139udDheD8yvFIVjz9N5YGkNfxOdwqE06RYl3e3fyemE/edit?hl=es&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/139udDheD8yvFIVjz9N5YGkNfxOdwqE06RYl3e3fyemE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        624,
        688
      ],
      "id": "33df8570-2499-4d05-9c36-0aaca6c7a5e3",
      "name": "tasa de empleo",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Estadísticas de empleo",
        "height": 820,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        528,
        608
      ],
      "typeVersion": 1,
      "id": "68a4e5a3-84ee-4cc2-8cd5-3265f43f3e15",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Api de Google, mercado laboral",
        "height": 240,
        "width": 300,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        448
      ],
      "typeVersion": 1,
      "id": "bddd4f77-9201-4ce5-bb79-33daaac3d2d4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 660660916,
          "mode": "list",
          "cachedResultName": "INDICE ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=660660916"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1168,
        768
      ],
      "id": "21e1093b-e027-4121-9a21-70fcf7cd4b47",
      "name": "Google Sheets32",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 852263311,
          "mode": "list",
          "cachedResultName": "EAL-C1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=852263311"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1168,
        928
      ],
      "id": "c3cc0e9a-010e-409d-a9ea-884c8f528428",
      "name": "Google Sheets33",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1991581876,
          "mode": "list",
          "cachedResultName": "EAL-C2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=1991581876"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1168,
        1088
      ],
      "id": "8dd5fba3-de1d-4476-b1e2-1288c6f94e89",
      "name": "Google Sheets34",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 5169197,
          "mode": "list",
          "cachedResultName": "EAL-C3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=5169197"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1168,
        1248
      ],
      "id": "3f475b2c-5ba1-4415-a6e4-6d512a134efd",
      "name": "Google Sheets35",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2086251724,
          "mode": "list",
          "cachedResultName": "EAL-1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=2086251724"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1168,
        1392
      ],
      "id": "d5d33822-0653-4e4e-a7d3-00fc6b5777f1",
      "name": "Google Sheets36",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 940083327,
          "mode": "list",
          "cachedResultName": "EAL-2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=940083327"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1168,
        1520
      ],
      "id": "b7016702-98f7-4943-9495-f401b989e279",
      "name": "Google Sheets37",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 214156739,
          "mode": "list",
          "cachedResultName": "EAL-3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=214156739"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1168,
        1664
      ],
      "id": "bc0a8371-3cc7-4883-8e7d-1290cf9f80da",
      "name": "Google Sheets38",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 194440638,
          "mode": "list",
          "cachedResultName": "EAL-4",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=194440638"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1280,
        768
      ],
      "id": "fc74ef66-617a-4f07-924b-92c7c206d824",
      "name": "Google Sheets39",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 379692728,
          "mode": "list",
          "cachedResultName": "EAL-5",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=379692728"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1280,
        928
      ],
      "id": "50f48bf1-367f-4cd5-9f92-ab7fccce51cd",
      "name": "Google Sheets40",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 223102823,
          "mode": "list",
          "cachedResultName": "EAL-6",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=223102823"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1280,
        1088
      ],
      "id": "b305e3c3-4379-4e55-8287-0c46803afce3",
      "name": "Google Sheets41",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 978231714,
          "mode": "list",
          "cachedResultName": "EAL-7",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=978231714"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1280,
        1248
      ],
      "id": "c72ec9e0-94bd-4bb2-a756-811eb55f1139",
      "name": "Google Sheets42",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 866271638,
          "mode": "list",
          "cachedResultName": "EAL-8",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=866271638"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1280,
        1392
      ],
      "id": "91faa12d-607a-4d41-9cc7-78651ca8943f",
      "name": "Google Sheets43",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1350118240,
          "mode": "list",
          "cachedResultName": "EAL-9",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=1350118240"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1280,
        1520
      ],
      "id": "8d225439-59c9-4773-9931-ed21b3f41f84",
      "name": "Google Sheets44",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1736035066,
          "mode": "list",
          "cachedResultName": "EAL-10",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=1736035066"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1280,
        1664
      ],
      "id": "f39dce40-93fe-4169-bc0c-e9a6155403d0",
      "name": "Google Sheets45",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1042750637,
          "mode": "list",
          "cachedResultName": "EAL-11",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=1042750637"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1408,
        768
      ],
      "id": "6fc25f89-928e-442d-ae8e-fa29abae2d7d",
      "name": "Google Sheets46",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 943087305,
          "mode": "list",
          "cachedResultName": "EAL-12",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=943087305"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1408,
        928
      ],
      "id": "08d8ebaf-6c13-43b9-887d-ba1400456e80",
      "name": "Google Sheets47",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2122258559,
          "mode": "list",
          "cachedResultName": "EAL-12a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=2122258559"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1408,
        1088
      ],
      "id": "976038d1-6081-4d57-a63b-e71ad46e3c2f",
      "name": "Google Sheets48",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1292812538,
          "mode": "list",
          "cachedResultName": "EAL-12b",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=1292812538"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1408,
        1248
      ],
      "id": "52a6d496-6cfe-4a3d-8821-8f711a563047",
      "name": "Google Sheets49",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 973250057,
          "mode": "list",
          "cachedResultName": "EAL-13a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=973250057"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1408,
        1392
      ],
      "id": "14711010-bded-474f-acbd-df74dd80eb21",
      "name": "Google Sheets50",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2085799839,
          "mode": "list",
          "cachedResultName": "EAL-13b",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=2085799839"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1408,
        1520
      ],
      "id": "e94ee418-dbe0-4235-9929-e1e1f7d3c772",
      "name": "Google Sheets51",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 500363564,
          "mode": "list",
          "cachedResultName": "EAL-14",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=500363564"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1408,
        1664
      ],
      "id": "ae65289f-2d5a-4def-ae57-41de47440d2e",
      "name": "Google Sheets52",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 260402671,
          "mode": "list",
          "cachedResultName": "EAL-15",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=260402671"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1520,
        768
      ],
      "id": "f9f27483-fe8d-41c4-a5f7-36326f000d58",
      "name": "Google Sheets53",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1020502951,
          "mode": "list",
          "cachedResultName": "EAL-16",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=1020502951"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1520,
        928
      ],
      "id": "acecdc80-12a2-4115-b07d-66b3de6070f3",
      "name": "Google Sheets54",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2007238274,
          "mode": "list",
          "cachedResultName": "EAL-17",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=2007238274"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1520,
        1088
      ],
      "id": "582af969-02ad-4c58-b5b7-159722d1d6db",
      "name": "Google Sheets55",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1386228081,
          "mode": "list",
          "cachedResultName": "EAL-18",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=1386228081"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1520,
        1248
      ],
      "id": "bbece392-fa49-4b66-b197-7a7d52fc225d",
      "name": "Google Sheets56",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1533479643,
          "mode": "list",
          "cachedResultName": "EAL-18a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=1533479643"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1520,
        1392
      ],
      "id": "4c30c2af-a2fb-4252-81ec-2f7896a612e0",
      "name": "Google Sheets57",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 167149745,
          "mode": "list",
          "cachedResultName": "EAL-18b",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=167149745"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1520,
        1520
      ],
      "id": "433c9d92-cb84-49d4-b9c9-a4cd26bbd862",
      "name": "Google Sheets58",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1599512465,
          "mode": "list",
          "cachedResultName": "EAL-18c",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=1599512465"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1520,
        1664
      ],
      "id": "fd0c710b-d32e-4fbb-b4ef-01d3468e1b06",
      "name": "Google Sheets59",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1544526201,
          "mode": "list",
          "cachedResultName": "EAL-19",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=1544526201"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1648,
        768
      ],
      "id": "9863edcb-dc93-43c9-ab52-e38aaeb2cf4f",
      "name": "Google Sheets60",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1825868035,
          "mode": "list",
          "cachedResultName": "EAL-20",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=1825868035"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1648,
        928
      ],
      "id": "44e57445-265e-4f67-a99f-47ba4d6282c9",
      "name": "Google Sheets61",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1962853631,
          "mode": "list",
          "cachedResultName": "EAL-21",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=1962853631"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1648,
        1088
      ],
      "id": "d1af3393-3698-4041-9dd5-baace908f318",
      "name": "Google Sheets62",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 190769529,
          "mode": "list",
          "cachedResultName": "EAL-22",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=190769529"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1648,
        1248
      ],
      "id": "f5797954-9256-49fe-9b14-7d59e685db90",
      "name": "Google Sheets63",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1698437369,
          "mode": "list",
          "cachedResultName": "EAL-23",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=1698437369"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1648,
        1392
      ],
      "id": "cfc49557-4a83-4f29-89e1-ce6cee584e82",
      "name": "Google Sheets64",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 166379841,
          "mode": "list",
          "cachedResultName": "EAL-24",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=166379841"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1648,
        1520
      ],
      "id": "2d2bb6a4-e131-4a56-864e-f03a7d7605fe",
      "name": "Google Sheets65",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1989299468,
          "mode": "list",
          "cachedResultName": "EAL-25",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=1989299468"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1648,
        1664
      ],
      "id": "af7b0282-e206-418a-a746-6d5dd60339e9",
      "name": "Google Sheets66",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1256902507,
          "mode": "list",
          "cachedResultName": "EAL-26",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=1256902507"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1760,
        768
      ],
      "id": "413c6479-bb5f-41c4-a451-6fb308660930",
      "name": "Google Sheets67",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 291979812,
          "mode": "list",
          "cachedResultName": "EAL-27",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=291979812"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1760,
        928
      ],
      "id": "855ae99b-c87a-46e9-bfba-22597ec32d4d",
      "name": "Google Sheets68",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1275529083,
          "mode": "list",
          "cachedResultName": "EAL-27a",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=1275529083"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1760,
        1088
      ],
      "id": "768bcf67-7428-4d7a-95cc-f80801b446b5",
      "name": "Google Sheets69",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1600059339,
          "mode": "list",
          "cachedResultName": "EAL-27b",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=1600059339"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1760,
        1248
      ],
      "id": "1a6c6c5d-6273-4d99-9b5f-3147c7a9a64d",
      "name": "Google Sheets70",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 475167175,
          "mode": "list",
          "cachedResultName": "EAL-27c",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=475167175"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1760,
        1392
      ],
      "id": "38e0b862-45a1-4719-b61a-71466279820c",
      "name": "Google Sheets71",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1280007496,
          "mode": "list",
          "cachedResultName": "EAL-28",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=1280007496"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1760,
        1520
      ],
      "id": "b06984e7-eb62-479a-9c82-f614e33837e3",
      "name": "Google Sheets72",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2089887846,
          "mode": "list",
          "cachedResultName": "EAL-29",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=2089887846"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1760,
        1664
      ],
      "id": "ae1034d0-dcf5-4539-bcbd-a5716cf65246",
      "name": "Google Sheets73",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1121453888,
          "mode": "list",
          "cachedResultName": "EAL-30",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=1121453888"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1888,
        768
      ],
      "id": "6a6778a9-bf4a-44a2-8d23-b2bd66fa7000",
      "name": "Google Sheets74",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 310173577,
          "mode": "list",
          "cachedResultName": "EA-31",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=310173577"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1888,
        928
      ],
      "id": "b4bb5ccb-d4d3-42de-89bf-5d8899c4d067",
      "name": "Google Sheets75",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1174893538,
          "mode": "list",
          "cachedResultName": "EAL-32",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=1174893538"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1888,
        1088
      ],
      "id": "16280afc-9086-4eb3-99c2-fb65c9b65a3a",
      "name": "Google Sheets76",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1502597018,
          "mode": "list",
          "cachedResultName": "EAL-33",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=1502597018"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1888,
        1248
      ],
      "id": "244c5d16-e138-4723-9aa0-05439540e67f",
      "name": "Google Sheets77",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1544038227,
          "mode": "list",
          "cachedResultName": "EAL-34",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=1544038227"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1888,
        1392
      ],
      "id": "b281723d-8dc4-45a0-887d-68f5f7ebda95",
      "name": "Google Sheets78",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 458047391,
          "mode": "list",
          "cachedResultName": "EAL-35",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=458047391"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1888,
        1520
      ],
      "id": "1b74d5dc-5233-4ef2-b3a3-539d74728774",
      "name": "Google Sheets79",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 348294041,
          "mode": "list",
          "cachedResultName": "EAL-36",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=348294041"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        1888,
        1664
      ],
      "id": "e347d176-1d11-4a8a-ac08-06637baeeec5",
      "name": "Google Sheets80",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 2045531013,
          "mode": "list",
          "cachedResultName": "EAL-33 (2)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=2045531013"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        2000,
        768
      ],
      "id": "1e00515b-2d5b-49b5-80b1-ef1bee1c8a69",
      "name": "Google Sheets81",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit?gid=660660916#gid=660660916",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1264917626,
          "mode": "list",
          "cachedResultName": "EAL-M1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iH8lSG4vPPCtpyF5I9p2ZQ5y1O9IN0AmH-sv71qw9NA/edit#gid=1264917626"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        2000,
        928
      ],
      "id": "f587c9f0-2ff2-4bbd-9477-4911f282d4e9",
      "name": "Google Sheets82",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DW7QXU4esVSAF7Ll",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Tabla de el mercado laboral en España\n",
        "height": 1140,
        "width": 1360
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        928,
        704
      ],
      "typeVersion": 1,
      "id": "44c25c89-390a-4c81-82a0-e3edaa895a1c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "const requestType = $('Webhook').first().json.body.request_type;\nconst aiResponse = $('AI Agent').first().json.output;\n\n// Obtener queryId del input anterior (MySQL Insert)\nconst mysqlResult = $input.first(); // Datos del MySQL Insert\nconst queryId = mysqlResult ? mysqlResult.json.insertId : null;\n\nconsole.log('🔍 Request Type:', requestType);\nconsole.log('🤖 AI Response:', aiResponse);\nconsole.log('📊 Query ID:', queryId);\n\nlet processedResponse = {\n  response_type: 'text',\n  message: aiResponse,\n  structured_data: null,\n  sources: null,\n  queryId: queryId\n};\n\ntry {\n  if (requestType === 'graph') {\n    try {\n      const parsedData = JSON.parse(aiResponse);\n      if (parsedData.response_type === 'salary_data') {\n        processedResponse = {\n          response_type: 'salary_data',\n          structured_data: parsedData,\n          message: 'Datos de salarios generados correctamente',\n          sources: parsedData.fuentes_utilizadas || [],\n          queryId: queryId\n        };\n      }\n    } catch (e) {\n      console.log('❌ Error parsing graph data, usando como texto');\n    }\n  } else if (requestType === 'sources') {\n    try {\n      const parsedData = JSON.parse(aiResponse);\n      if (parsedData.response_type === 'sources_info') {\n        processedResponse = {\n          response_type: 'sources_info',\n          sources: parsedData.fuentes_utilizadas || [],\n          message: parsedData.descripcion || 'Fuentes consultadas',\n          structured_data: parsedData,\n          queryId: queryId\n        };\n      }\n    } catch (e) {\n      console.log('❌ Error parsing sources data, usando como texto');\n    }\n  }\n} catch (error) {\n  console.log('❌ Error general:', error);\n}\n\nconsole.log('✅ Processed Response:', JSON.stringify(processedResponse, null, 2));\n\nreturn [{\n  json: processedResponse\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        48
      ],
      "id": "3deff385-62b6-41a4-9c5f-a80763ddd924",
      "name": "Code2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.response_type }}",
                    "rightValue": "=salary_data",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "afa02554-e37d-4d70-bbdd-fef7e06f35cc"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ef6b2983-c08a-4c8e-9ae9-b57117e48844",
                    "leftValue": "={{ $json.response_type }}",
                    "rightValue": "=text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d869bfd7-d0e7-4250-b25a-21942bcd7a1d",
                    "leftValue": "={{ $json.response_type }}",
                    "rightValue": "=sources_info",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2112,
        64
      ],
      "id": "cd717fa5-c253-438f-80e7-7bf44c809b85",
      "name": "Switch"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"success\": true,\n  \"response_type\": \"{{ $json.response_type }}\",\n  \"structured_data\": {{ $json.structured_data }},\n  \"sources\": {{ $json.sources }},\n  \"message\": \"Datos estructurados generados correctamente\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2352,
        -128
      ],
      "id": "0e0820f0-65e8-4f11-a8fb-a9f83638bee9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2624,
        64
      ],
      "id": "fb6e2903-606c-4e18-b63e-047222c8890d",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Obtener datos del Switch/Edit Fields\nconst inputData = $input.first().json;\n\n// Intentar obtener queryId de diferentes fuentes\nlet queryId = null;\n\n// Opción 1: Buscar en nodos anteriores\ntry {\n  queryId = $('MySQL1').first().json.insertId;\n} catch (e) {\n  console.log('No se pudo obtener queryId de MySQL1');\n}\n\n// Opción 2: Si viene del input\nif (!queryId && inputData.queryId) {\n  queryId = inputData.queryId;\n}\n\n// Construir respuesta final\nconst finalResponse = {\n  success: true,\n  response_type: inputData.response_type || \"text\",\n  message: inputData.message || \"\",\n  structured_data: inputData.structured_data || null,\n  sources: inputData.sources || [],\n  queryId: queryId,\n  timestamp: new Date().toISOString()\n};\n\nconsole.log('🎯 Respuesta final Code3:', JSON.stringify(finalResponse, null, 2));\n\nreturn {\n  json: finalResponse\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        160
      ],
      "id": "1d2c6414-5269-4e26-9e22-2970729e6b35",
      "name": "Code3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "01a1b186-31c7-4961-b55b-81152890ab52",
              "name": "request_type",
              "value": "={{ $json.body.request_type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        -16
      ],
      "id": "a72da821-250b-44d1-9a25-2f735356c590",
      "name": "Guardar Request Type"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').first().json.body.request_type }}",
                    "rightValue": "chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "431e1a4c-3915-4258-bc5e-82d37dbbfa28"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "05e5015b-5752-4d50-83ed-f2c2c07b1862",
                    "leftValue": "={{ $('Webhook').first().json.body.request_type }}",
                    "rightValue": "graph",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7d401edf-fec8-444a-b0d1-f6b02b41a427",
                    "leftValue": "={{ $('Webhook').first().json.body.request_type }}",
                    "rightValue": "sources",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        384,
        -48
      ],
      "id": "74d16c52-e813-4a8a-98cb-29d02fc51c34",
      "name": "Switch1"
    },
    {
      "parameters": {
        "jsCode": "// Formatear historial para el prompt de la IA\nconst items = $input.all();\nconst webhook = $('Webhook').first().json.body;\n\nlet historialFormateado = \"\";\n\nif (items && items.length > 0) {\n  historialFormateado = \"\\n{HISTORIAL DE CONVERSACIÓN RECIENTE}\\n\";\n  \n  // Ordenar por fecha (más reciente primero) y tomar los últimos 5\n  const conversaciones = items\n    .filter(item => item.json.response_text) // Solo conversaciones completadas\n    .slice(0, 5) // Últimas 5 conversaciones\n    .reverse(); // Ordenar cronológicamente\n  \n  conversaciones.forEach((item, index) => {\n    const fecha = new Date(item.json.created_at).toLocaleDateString('es-ES');\n    historialFormateado += `\\n--- Conversación ${index + 1} (${fecha}) ---\\n`;\n    historialFormateado += `Usuario: ${item.json.query_text}\\n`;\n    historialFormateado += `Asistente: ${item.json.response_text}\\n`;\n  });\n  \n  historialFormateado += \"\\n{FIN DEL HISTORIAL}\\n\";\n} else {\n  historialFormateado = \"\\n{HISTORIAL: Esta es la primera conversación del usuario}\\n\";\n}\n\nreturn [{\n  json: {\n    ...webhook,\n    historial_formateado: historialFormateado,\n    tiene_historial: items && items.length > 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -64
      ],
      "id": "3d616857-e7c4-4acc-8077-797a54786cb4",
      "name": "Code Historial"
    },
    {
      "parameters": {
        "jsCode": "// Debug: Ver todos los datos que llegan\nconsole.log('🔍 Input completo del Code1:', JSON.stringify($input.all(), null, 2));\n\n// Obtener request_type del webhook\nconst webhookData = $('Webhook').first().json.body || {};\nconst requestType = webhookData.request_type || 'chat';\n\nconsole.log('✅ request_type obtenido del webhook:', requestType);\n\nconst userMessage = webhookData.message || '';\nconst historial = $input.first().json.historial || '';\n\nconsole.log('📋 Datos procesados:', {\n  requestType: requestType,\n  userMessage: userMessage.substring(0, 50) + '...',\n  historial: historial.substring(0, 100) + '...'\n});\n\nlet templateType = 'text';\nlet emptyTemplate = null;\n\n// Si es solicitud de gráfica, SIEMPRE usar salary_data\nif (requestType === 'graph') {\n  console.log('🎯 Configurando para GRAPH - usando salary_data');\n  templateType = 'salary_data';\n  emptyTemplate = {\n    \"response_type\": \"salary_data\",\n    \"sector\": \"\",\n    \"data\": {\n      \"salario_promedio\": {\n        \"junior\": {\"min\": 0, \"max\": 0, \"promedio\": 0, \"moneda\": \"EUR\"},\n        \"mid\": {\"min\": 0, \"max\": 0, \"promedio\": 0, \"moneda\": \"EUR\"},\n        \"senior\": {\"min\": 0, \"max\": 0, \"promedio\": 0, \"moneda\": \"EUR\"}\n      },\n      \"tendencia_salarial\": {\n        \"variacion_anual\": \"\",\n        \"direccion\": \"\",\n        \"factores_influencia\": []\n      },\n      \"datos_por_region\": [],\n      \"habilidades_mejor_pagadas\": []\n    },\n    \"fecha_actualizacion\": \"2024-12-01\",\n    \"fuentes_utilizadas\": []\n  };\n} else if (requestType === 'sources') {\n  console.log('🎯 Configurando para SOURCES');\n  templateType = 'sources_info';\n  emptyTemplate = {\n    \"response_type\": \"sources_info\",\n    \"fuentes_utilizadas\": []\n  };\n} else {\n  console.log('🎯 Configurando para CHAT normal');\n  templateType = 'text';\n  emptyTemplate = null;\n}\n\nconst result = {\n  template_type: templateType,\n  empty_template: emptyTemplate,\n  original_request_type: requestType,\n  historial: historial,\n  message: userMessage,\n  // Pasar todos los datos del webhook\n  ...webhookData\n};\n\nconsole.log('🚀 Resultado final del Code1:', JSON.stringify(result, null, 2));\n\nreturn {\n  json: result\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -320
      ],
      "id": "a7da45f6-402b-4d58-8760-c0d2007f9b4c",
      "name": "Code1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Guardar Request Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "MySQL1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Code Historial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets30": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets25": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets20": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets15": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets31": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets10": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets29": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets5": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets28": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets27": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets26": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets24": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets23": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets22": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets21": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets19": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets18": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets16": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets14": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets13": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets11": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets9": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets8": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets7": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets6": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tasa por paro": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tasa por actividad": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tasa de ocupados": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tasa de empleo por discapacidad": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tasa de empleo": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets32": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets33": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets34": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets35": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets36": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets39": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets40": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets46": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets53": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets47": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets54": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets41": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets48": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets55": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets42": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets49": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets56": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets37": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets43": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets44": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets50": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets51": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets57": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets58": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets38": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets45": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets52": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets59": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets60": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets61": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets67": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets74": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets81": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets68": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets75": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets82": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets62": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets69": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets76": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets63": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets70": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets77": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets64": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets71": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets78": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets65": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets72": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets79": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets80": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets73": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets66": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Request Type": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "Code Historial": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e48d455e-8abd-4a87-89ad-c380dd9fcfed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d1ab635493efb7984db0830b25ac7ac580f8c8c4ff77df153b8ab93f6e6757a1"
  },
  "id": "qznE2VlxSaTmbRbf",
  "tags": []
}